._Anchor_49d3l_1,._Button_49d3l_2 {
    display: inline-block;
    cursor: pointer
}

._Button_49d3l_2 {
    background: none;
    border: none;
    padding: 0
}

._Button_1ymlj_1 {
    --preview-bar-button-bg: var(--p-color-bg-surface-brand);
    --preview-bar-icon-button-size: 28px;
    border: none;
    border-radius: var(--p-border-radius-200);
    font-weight: var(--p-font-weight-medium);
    font-size: var(--p-font-size-325);
    cursor: pointer;
    height: var(--p-height-700);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0 var(--p-space-150);
    text-decoration: none
}

._ButtonPrimary_1ymlj_20 {
    color: var(--osui-preview-bar-background-color);
    background-color: var(--preview-bar-button-bg);
    box-shadow: 0 1px 0 0 var(--preview-bar-button-bg) inset,1px 0 0 0 var(--preview-bar-button-bg) inset,-1px 0 0 0 var(--preview-bar-button-bg) inset,0 -1px 0 0 var(--p-color-text-inverse-secondary) inset
}

._ButtonPrimary_1ymlj_20:hover {
    background-color: var(--p-color-bg-surface-brand-hover)
}

._ButtonSecondary_1ymlj_34 {
    color: var(--preview-bar-button-bg);
    background-color: var(--p-color-bg-surface-inverse)
}

._ButtonSecondary_1ymlj_34:hover {
    background-color: var(--p-color-bg-fill-inverse-hover)
}

._IconLabel_1ymlj_43 {
    display: flex;
    justify-content: center;
    align-items: center
}

._TextLabel_1ymlj_49 {
    padding-left: var(--p-space-100);
    padding-right: var(--p-space-100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%
}

._IconButton_1ymlj_59 {
    width: var(--preview-bar-icon-button-size);
    height: var(--preview-bar-icon-button-size)
}

._IconButton_1ymlj_59 svg {
    width: 16px;
    height: 16px
}

@media screen and (min-width: 768px) {
    ._Button_1ymlj_1:not(._IconButton_1ymlj_59) {
        max-width:200px
    }
}

._GrabberWrapper_3033z_1 {
    background-color: var(--osui-preview-bar-background-color);
    color: var(--osui-preview-bar-text-color);
    position: relative;
    display: flex
}

._GrabberButton_3033z_8 {
    border: none;
    border-radius: var(--p-border-radius-200);
    color: var(--p-color-text);
    background-color: transparent;
    cursor: pointer;
    height: 12px;
    width: var(--p-width-2400)
}

._GrabberButton_3033z_8 ._DefaultGrabber_3033z_18 {
    opacity: .6
}

._GrabberButton_3033z_8 ._GrabberHover_3033z_22 {
    opacity: 0
}

._GrabberButton_3033z_8:hover ._DefaultGrabber_3033z_18,._GrabberButton_3033z_8:focus ._DefaultGrabber_3033z_18 {
    opacity: 0
}

._GrabberButton_3033z_8:hover ._GrabberHover_3033z_22,._GrabberButton_3033z_8:focus ._GrabberHover_3033z_22 {
    opacity: 1
}

._DefaultGrabber_3033z_18,._GrabberHover_3033z_22 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity var(--p-motion-duration-300) var(--p-motion-ease-out)
}

._PopoverPane_1akrt_2,._PopoverPane_1akrt_2 *,._Scrollable_1akrt_4 {
    --p-color-border-focus: none
}

._PopoverPane_1akrt_2 {
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

._Scrollable_1akrt_4 {
    position: relative;
    width: 200px;
    border-bottom-left-radius: var(--p-border-radius-200);
    border-bottom-right-radius: var(--p-border-radius-200);
    padding-bottom: var(--p-space-200)
}

._FixedHeight_1akrt_24 {
    height: 244px
}

._Activator_1akrt_28 {
    position: relative;
    height: 28px
}

._SpinnerContainer_1akrt_33 {
    position: absolute;
    right: 0;
    top: 2px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

._Activator_1akrt_28 span {
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (max-width: 864px) {
    ._Activator_1akrt_28 span {
        max-width:5ch
    }
}

._ContextPickerButton_1akrt_56 {
    border: none;
    position: relative;
    height: 28px;
    border-radius: var(--p-border-radius-200);
    gap: var(--p-space-100);
    font-size: var(--p-font-size-300);
    color: var(--p-color-text);
    padding-block:var(--p-space-100);padding-left: var(--p-space-150);
    padding-right: var(--p-space-100);
    background-color: var(--p-color-bg-fill-transparent);
    transition: background-color var(--p-motion-duration-100);
    cursor: pointer;
    min-width: var(--p-width-1200);
    &:not(._loading_1akrt_72) {
        &:hover,
        &:active {
            background-color: var(--p-color-bg-fill-transparent-selected);
        }
    }
}

._ContextPickerButton_1akrt_56._loading_1akrt_72 {
    cursor: default
}

@media (--p-breakpoints-lg-down) {
    ._ContextPickerButton_1akrt_56 {
        min-width: 0
    }
}

._ContextPickerButtonInner_1akrt_88 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

._ContextPickerButtonInner_1akrt_88._loading_1akrt_72 {
    visibility: hidden
}

._Content_1akrt_98 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: var(--p-border-radius-200);
    gap: var(--p-space-100);
    font-size: var(--p-font-size-300);
    color: var(--p-color-text);
    padding-block:var(--p-space-150);padding-inline: var(--p-space-150);
    background-color: var(--p-color-bg-fill-transparent);
    transition: background-color var(--p-motion-duration-100);
    min-width: var(--p-width-1200);
    max-height: var(--p-height-700)
}

._Content_1akrt_98._NoOptions_1akrt_114 {
    background-color: var(--p-color-bg-fill-disabled);
    padding-right: var(--p-space-200)
}

._ContextPickerButtonNoIcon_1akrt_120 {
    padding-left: var(--p-space-300);
    padding-right: var(--p-space-100)
}

._ContextPickerDropdownSearchInput_1akrt_125 {
    --p-border-radius-200: 0
}

:root {
    --osui-preview-bar-background-color: var(--p-color-bg-inverse);
    --osui-preview-bar-text-color: var(--p-color-text-brand-on-bg-fill)
}

._BarWrapper_2i9ku_6 {
    font-weight: var(--p-font-weight-medium);
    font-size: var(--p-font-size-325);
    line-height: var(--p-line-height-500);
    width: 100%;
    overflow: hidden;
    background-color: var(--osui-preview-bar-background-color);
    color: var(--osui-preview-bar-text-color);
    position: relative;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform var(--p-motion-duration-150) var(--p-motion-ease-in-out),height var(--p-motion-duration-150) var(--p-motion-ease-in-out)
}

._BarWrapper_2i9ku_6._collapsed_2i9ku_21 {
    height: 25px!important;
    transform: scaleY(1)
}

._Bar_2i9ku_6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";
    padding: 0 var(--p-space-300) 0 var(--p-space-400);
    align-items: center
}

._bigCenter_2i9ku_34 ._Bar_2i9ku_6 {
    grid-template-columns: 2fr 3fr 2fr
}

._withoutCenterSlot_2i9ku_38 ._Bar_2i9ku_6 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right"
}

._LeftSlot_2i9ku_44 {
    grid-area: left;
    justify-content: left;
    align-items: center;
    position: relative
}

._CenterSlot_2i9ku_51 {
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center
}

._RightSlot_2i9ku_58 {
    grid-area: right;
    justify-content: right
}

._Grabber_2i9ku_63 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%
}

._Grabber_2i9ku_63 svg {
    fill: var(--p-color-icon-disabled)
}

._LeftSlot_2i9ku_44,._RightSlot_2i9ku_58 {
    display: flex;
    align-items: center
}

._RightSlot_2i9ku_58,._LeftSlot_2i9ku_44,._CenterSlot_2i9ku_51 {
    width: 100%;
    max-height: 38px
}

._Button_1tidf_1 {
    --preview-bar-mobile-button-suffix-size: 20px;
    --preview-bar-mobile-button-prefix-size: 20px;
    padding-inline:0;padding-block:var(--p-space-300);border: none;
    font-weight: var(--p-font-weight-regular);
    font-size: var(--p-font-size-350);
    cursor: pointer;
    color: var(--p-color-text);
    background-color: var(--p-color-bg-surface);
    line-height: var(--p-font-line-height-500);
    display: inline-block;
    padding-top: var(--p-space-200);
    padding-bottom: var(--p-space-300);
    align-items: center;
    text-decoration: none;
    position: relative;
    display: grid;
    gap: var(--p-space-200);
    grid-template-columns: auto;
    text-align: left
}

._Button_1tidf_1._suffix_1tidf_25 {
    grid-template-columns: 1fr var(--preview-bar-mobile-button-suffix-size)
}

._Button_1tidf_1._prefix_1tidf_29 {
    grid-template-columns: var(--preview-bar-mobile-button-prefix-size) 1fr
}

._Button_1tidf_1._full_1tidf_33 {
    grid-template-columns: var(--preview-bar-mobile-button-prefix-size) 1fr var( --preview-bar-mobile-button-suffix-size )
}

._Button_1tidf_1._bold_1tidf_39 {
    font-weight: var(--p-font-weight-medium)
}

._Button_1tidf_1:hover {
    background-color: var(--p-color-bg-fill-hover)
}

._Button_1tidf_1:hover:after,._Button_1tidf_1:hover:before {
    content: "";
    position: absolute;
    background-color: var(--p-color-bg-fill-hover);
    top: 0;
    bottom: 0;
    width: var(--osui_static-panel-section-padding)
}

._Button_1tidf_1:hover:before {
    left: calc(var(--osui_static-panel-section-padding) * -1)
}

._Button_1tidf_1:hover:after {
    right: calc(var(--osui_static-panel-section-padding) * -1)
}

._Button_1tidf_1 svg {
    fill: var(--p-color-icon, rgba(74, 74, 74, 1))!important
}

._Text_k95fl_1 {
    font-size: var(--p-font-size-275);
    color: var(--p-color-text-inverse)
}

._Uppercase_k95fl_6 {
    text-transform: uppercase
}

._SingleLine_k95fl_10 {
    white-space: nowrap
}

._Separator_7b1d4_1 {
    height: 16px;
    width: 1px;
    background-color: var(--p-color-border-inverse);
    margin: 0 calc(var(--p-space-200) + var(--p-space-025))
}

:root {
    --osui_color-frame-surface-bg: blue
}

._Header_as4bx_5 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 121;
    width: 100%;
    background-color: var(--osui-preview-bar-background-color);
    color: var(--osui-preview-bar-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--p-space-200);
    padding: 0 var(--p-space-400) env(safe-area-inset-bottom,0) var(--p-space-400);
    border: none;
    cursor: pointer
}

._Spinner_1pkzo_1 {
    height: 20px
}

._MobileTag_1u5wd_1 {
    padding-top: var(--p-space-300)
}

._CompanyLocationMobileTag_1u5wd_5 {
    width: fit-content;
    max-width: 90%;
    height: var(--p-height-1000);
    padding-block:var(--p-space-200);padding-inline: var(--p-space-300);
    border: none;
    border-radius: var(--p-border-radius-200);
    background: var(--p-color-bg-fill-secondary);
    color: var(--p-color-text);
    font-size: var(--p-font-size-325);
    gap: var(--p-space-100);
    font-weight: var(--p-font-weight-semibold);
    line-height: var(--p-font-line-height-500);
    text-align: center;
    margin-top: var(--p-space-100)
}

._CompanyLocationMobileTag_1u5wd_5 span {
    max-width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

._CompanyLocationTag_1u5wd_30 {
    position: relative
}

._CompanyLocationTag_1u5wd_30 span {
    max-width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (max-width: 864px) {
    ._CompanyLocationTag_1u5wd_30 span {
        max-width:6ch
    }
}

._CompanyLocationTag_1u5wd_30 {
    position: relative;
    height: 28px;
    border: none;
    border-radius: var(--p-border-radius-200);
    gap: var(--p-space-100);
    font-size: var(--p-font-size-300);
    color: var(--p-color-text);
    padding-block:var(--p-space-100);padding-left: var(--p-space-150);
    padding-right: var(--p-space-100);
    background-color: var(--p-color-bg-fill-transparent);
    pointer-events: none;
    min-width: var(--p-width-1200)
}

._CompanyLocationTagContent_1u5wd_61 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

._CompanyLocationTagContent_1u5wd_61._loading_1u5wd_66 {
    visibility: hidden
}

._CompanyLocationX_1u5wd_71 {
    border: none;
    background-color: inherit;
    color: var(--p-color-text);
    border-radius: var(--p-border-radius-200);
    transition: background-color var(--p-motion-duration-100);
    padding: 0;
    pointer-events: auto;
    cursor: pointer
}

._CompanyLocationX_1u5wd_71:hover,._CompanyLocationX_1u5wd_71:active {
    background-color: var(--p-color-bg-fill-transparent-selected)
}

@media (--p-breakpoints-lg-down) {
    ._CompanyLocationX_1u5wd_71 {
        min-width: 0
    }
}

._CompanyLocationSpinner_1u5wd_91 {
    height: 20px
}

._CompanyLocationSpinnerDesktop_1u5wd_95 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

._root_14klt_1 {
    display: inline-block;
    vertical-align: middle
}

._none_14klt_6 {
    border-radius: 0
}

._circle_14klt_10 {
    border-radius: var(--p-border-radius-full)
}

._verySmall_14klt_14 {
    width: 16px
}

._small_14klt_18 {
    width: 1.25rem
}

._small_14klt_18._rounded_14klt_21 {
    border-radius: var(--p-border-radius-050)
}

._medium_14klt_26 {
    width: 48px
}

._medium_14klt_26._rounded_14klt_21 {
    border-radius: var(--p-border-radius-100)
}

._large_14klt_34 {
    width: 72px
}

._large_14klt_34._rounded_14klt_21 {
    border-radius: var(--p-border-radius-200)
}

._icon_g5p66_1 {
    display: block
}

._iconFallback_g5p66_5 {
    padding: var(--p-space-050);
    background: var(--p-color-bg-fill)
}

._iconContainer_g5p66_11 {
    position: relative
}

._iconContainer_g5p66_11:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--p-shadow-border-inset);
    border-radius: var(--p-border-radius-050)
}

._Container_1yy5q_1 {
    display: flex;
    align-items: center;
    border-radius: var(--p-border-radius-200);
    background: var(--p-color-bg-surface-inverse);
    padding: var(--p-space-100) var(--p-space-300)
}

._lastItemOffset_f47d7_1 ul li:last-child {
    margin-bottom: var(--p-space-100)
}

:root {
    --toast-translate-y-out: 150px;
    --toast-translate-y-in: 0;
    --toast-scale-in: 1;
    --toast-scale-out: .9;
    --toast-blur-in: 0;
    --toast-transition-delay-in: 0s;
    --toast-check-mark-icon-size: 22px
}

._Wrapper_1kmri_11 {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end
}

._ToastWrapper_1kmri_18,._ActionsWrapper_1kmri_19 {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end;
    opacity: 0;
    transition: transform var(--p-motion-duration-400) var(--p-motion-ease-out),opacity var(--p-motion-duration-400) var(--p-motion-ease-out);
    transform: translateY(var(--toast-translate-y-out))
}

._ToastWrapper-enter_1kmri_32,._ToastWrapper-exit_1kmri_33,._ActionsWrapper-enter_1kmri_34,._ActionsWrapper-exit_1kmri_35 {
    transition-timing-function: var(--p-motion-ease-in);
    transform: translateY(var(--toast-translate-y-out)) scale(var(--toast-scale-out));
    opacity: 0
}

._ToastWrapper-exit_1kmri_33,._ActionsWrapper-exit_1kmri_35 {
    transition-duration: var(--p-motion-duration-200)
}

._ToastWrapper-enter-done_1kmri_47,._ActionsWrapper-enter-done_1kmri_48 {
    transform: translateY(var(--toast-translate-y-in)) scale(var(--toast-scale-in));
    filter: blur(var(--toast-blur-in));
    opacity: 1;
    transition-delay: var(--toast-transition-delay-in)
}

._ToastContent_1kmri_56 {
    display: grid;
    grid-template-columns: var(--toast-check-mark-icon-size) 1fr;
    text-align: right;
    justify-content: end
}

._CopyLinkMessage_1kmri_63 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: var(--p-font-size-325);
    font-weight: var(--p-font-weight-medium);
    line-height: var(--p-font-line-height-500);
    letter-spacing: var(--p-font-letter-spacing-normal);
    color: var(--p-color-text-inverse)
}

._PwdButton_12w0u_1 {
    display: inline-block;
    color: var(--p-text-inverse);
    padding-right: var(--p-space-050);
    text-decoration: none;
    min-width: 0
}

@media (max-width: 667px) {
    ._PwdButton_12w0u_1 {
        padding:0
    }
}

._PwdButton_12w0u_1:hover {
    text-decoration: underline
}

._DraftBadge_12w0u_17 {
    display: inline-flex;
    align-items: center;
    padding: var(--p-space-100) var(--p-space-200);
    background-color: var(--p-color-text-info, rgba(0, 58, 90, 1));
    border-radius: var(--p-border-radius-200);
    color: var(--p-color-bg-fill-info, rgba(145, 208, 255, 1));
    max-block-size: var(--p-height-500);
    font-size: var(--p-font-size-300);
    font-weight: var(--p-font-weight-medium);
    line-height: var(--p-font-line-height-400);
    letter-spacing: var(--p-font-letter-spacing-normal)
}

._DraftBadge_12w0u_17 svg {
    fill: var(--p-color-text-secondary)
}

._DemoBadge_12w0u_37 {
    display: inline-flex;
    align-items: center;
    padding: var(--p-space-100) var(--p-space-200);
    background-color: var(--p-color-text-warning-hover, rgba(0, 58, 90, 1));
    border-radius: var(--p-border-radius-200);
    color: var(--p-color-border-warning, rgba(145, 208, 255, 1));
    max-block-size: var(--p-height-500);
    font-size: var(--p-font-size-300);
    font-weight: var(--p-font-weight-medium);
    line-height: var(--p-font-line-height-400);
    letter-spacing: var(--p-font-letter-spacing-normal)
}

._DemoBadge_12w0u_37 svg {
    fill: var(--p-color-text-secondary)
}

._ThemeInfo_12w0u_56 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--p-space-100)
}

._ThemeInfo_12w0u_56._Collapsed_12w0u_62 {
    grid-template-columns: 1fr auto auto
}

._CompanyLocationButton_12w0u_67 {
    padding: var(--p-space-300) var(--p-space-100) var(--p-space-300) var(--p-space-300)
}

._CompanyLocationButtonWithIcon_12w0u_72 {
    padding: var(--p-space-300) var(--p-space-100) var(--p-space-300) var(--p-space-150)
}

._DraftBadge_wo6vf_1 {
    display: inline-flex;
    align-items: center;
    padding: var(--p-space-050) var(--p-space-150);
    background-color: var(--p-color-text-info, rgba(0, 58, 90, 1));
    border-radius: var(--p-border-radius-200);
    color: var(--p-color-bg-fill-info, rgba(145, 208, 255, 1));
    max-block-size: var(--p-height-500);
    font-size: var(--p-font-size-275);
    font-weight: var(--p-font-weight-medium);
    line-height: var(--p-font-line-height-300);
    letter-spacing: var(--p-font-letter-spacing-normal)
}

._DraftBadge_wo6vf_1 svg {
    fill: var(--p-color-text-secondary)
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%
}

body,html {
    color-scheme: normal!important;
    background-color: transparent!important
}

#back-button {
    padding-left: 0
}
